{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block extrastyle %}
<style>

.module h2, .module caption, .inline-group h2,#header
{   
    margin: 0;
    padding: 10px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #63b8a5;
    color: #fff;
}

</style>

{% endblock %}



{% block nav-global %}{% endblock %}
